`

    <div class="px-4 py-5 text-center">
        
        <h1 class="display-5 fw-bold" >Online Projects Portal</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">An integrated platform where in all the universities/Colleges provide information about the projects
            done by the students. The information on this platform will help in the peer learning and this will also help in cross
            functional research between various universities/colleges.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                
                <form action="/dashboard" method="POST">
                    <input name="username" placeholder="Enter Your Username">
                    <br />
                    <br/>

                    <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Enter The Portal</button>
                </form>
                <!-- <form action="/login" method="GET">
                    <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Login</button>
                </form> -->
                <!-- <form action="/register" method="GET">
                    <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Register</button> -->
                </form>
            </div>
        </div>
    </div>


        



